header {
    width: 100%;
    height: 150px;
    background-color: #0C0C0C;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

body {
    background-color: #E2E8DD;
}

h1 {
    font-size: 50px;
}

h1, h2, p {
    color: black;
}

h1, h2 {
    font-family: "Baloo 2";
}

p {
    font-family: Poppins;
}

#navbox {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 600px;
    height: 100%;
}

nav {
    display: flex;
    gap: 200px;
}

nav a {
    transition: background-color 0.3s ease;
    text-decoration: none;
    border-radius: .5em;
    padding: 10px;
    color: white;
    font-family: Poppins;
}

nav a:hover, #food a:hover, #games a:hover {
    background-color: #2E90B8;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
}

#logo {
    width: 100px;
    height: 100px;
    margin-left: 25px;
}

#welcomeImage {
    width: 800px;
    height: auto;
}

#selectionImg {
    width: auto;
    height: 200px;
}

#welcome {
    text-align: center;
    grid-row: 1;
    grid-column: 1/3;
    margin: 50px;
}

#welcometext {
    align-content: center;
    grid-row: 2;
    grid-column: 1/3;
    text-align: center;
    margin: 0 200px 0 200px;
}

#welcometext, #food p, #games p {
    font-size: 20px;
}

#food {
    margin: 50px 50px 200px 50px;
    text-align: center;
    grid-column: 1;
    grid-row: 3;
    border: 2px solid #FA8334;
}

#food a, #games a {
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
    border-radius: .5em;
    padding: 5px;
}

#games {
    border: 2px solid #FA8334;
    margin: 50px 50px 200px 50px;
    text-align: center;
    grid-column: 2;
    grid-row: 3;
}

footer {
    display: flex;
    background-color: #0C0C0C;
    place-items: center;
    gap: 100px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

footer a, footer p {
    color: white;
    text-decoration: none;
    font-family: Poppins;
}

footer p {
    margin-left: 50px;
    margin-right: 150px;
}

#logofooter {
    margin-left: 150px;
    width: 100px;
    height: 100px;
}